{% extends 'base.html' %}

{% block title %}Log-in {% endblock %}

{% block content %}

<p class="welcometext"><em>Please, use the following form to log-in</em></p>

<form action="{% url 'login' %}" method="post">

  <h1><span class="logos">Log</span>in</h1>


{% if form.errors %}
     <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
       Your username and password didn't match.
       Please try again.
     </div>
{% endif %}


  {{ form.as_p }}
  {% csrf_token %}
  <p>
    <input type="submit" value="Log in">
  </p>
</form>

{% endblock %}