{% extends "base.html" %}

{% block title %}Change your password{% endblock %}


{% block content %}
<div class="home">
    <h1>Change your password</h1>

<p>Use the form below to change your password.</p>

 <!--  ALERTS   -->

                {% include 'partials/_alerts.html' %}

<!--  ALERTS   -->
    <form method="post">
          {{ form.as_p }}
         <p>
            <input type="submit" value="Change" id="changes">
          </p>
          {% csrf_token %}

    </form>
</div>


{% endblock %}